{% extends 'base.html' %}

{% block content %}
    <h1>Welcome</h1>
    {{ user }}
    {% if user.is_authenticated %}
        <p>
            <a href="{% url 'appointment-list' %}"> Appointments </a>
        </p>
        <p>
            <a href="{% url 'employee-list' %}"> Employees </a>
        </p>
        <p>
            <a href="{% url 'client-list' %}"> Clients </a>
        </p>
    {% else %}
        <p>
            <a href="{% url 'login' %}"> Login </a>
        </p>
    {% endif %}
{% endblock %}
